@import '../../common.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2rem;
}

.navbar__items {
    display: flex;
    flex-direction: row;
    gap: 0.5rem
}

.navbar__item {
    @extend .text-transition;
    justify-content: space-between;
    padding: 0.25rem 1rem;
    border-radius: 3px;
    font-size: 1rem;
}

.navbar__item:hover {
    background-color: $primary-text;
    color: $primary-background !important;
}

.navbar__title {
    @extend .text-transition;
    color: $primary-accent;
}

.navbar__title:hover {
    color: $primary-text;
}

.navbar__subtitle {
    font-size: 0.75rem;
}