@import '../../common.scss';

.documentation--center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.documentation {
    @extend .documentation--center;
    margin: 12rem 0rem 10rem 0rem;
    font-size: 1.4rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.documentation__item {
    font-size: 1rem;
}