@import '../../common.scss';

.home--center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__howto {
    @extend .home--center;
    margin: 12rem 0rem 10rem 0rem;
    font-size: 1.618rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.howto__step {
    @extend .home--center;
}

.howto__step__icon {
    @extend .home--center;
    font-size: 2rem
}

.home__target {
    @extend .home--center;
    font-size: 1.1rem;
}

.howto__link {
    @extend .text-transition;
}

.howto__link:hover {
    color: $primary-text;
}

.howto__code {
    font-size: 1.2rem;
    padding: 0.75rem 1rem;
}

.home__description {
    margin: 4rem 0;
}