.howto__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__howto {
    @extend .howto__center;
    margin: 4rem 0rem 2rem 0rem;
    font-size: 1.2rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.howto__step {
    @extend .howto__center;
}

.howto__step__icon {
    @extend .howto__center;
    font-size: 2rem
}

.home__target {
    @extend .howto__center;
}