.home__howto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0rem;
    font-size: 1.2rem;
}

.howto__step {
    display: flex;
    justify-content: center;
    align-items: center;
}
