@import 'reset.css';
img {
  box-shadow: 1px 1px 10px rgba(211, 138, 138, 1);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of css reset */

html {
  padding: 1rem;
  background: #030303;
  color: #eee;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  /* text-decoration: underline; */
}

h1 {
  font-size: 1.618rem;
  font-weight: 600;
  text-align: center;
  color: #eee;
  text-decoration: none;
}

h2 {
  font-weight: 600;
  display: inline-block;
}

body {
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.5em;
  font-weight: 500;
}

a {
  color: #d38a8a;
  font-weight: 600;
}

b {
  font-weight: 600;
}

p {
  margin: 16px 0;
}

code {
  color: #d38a8a;
  background-color: #444242;
  text-align: left;
  font-size: 1rem;
  border-radius: 2px;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: pre-wrap;
  font-weight: 400;
  /*text-shadow: 1px 1px 10px rgba(211, 138, 138, 0.3);*/
}

.menu {
  margin: 10px 0 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  flex-wrap: wrap;
  column-gap: 20px;
}

.menu--languages {
  font-size: 1rem;
}

.menu__item {
  margin-top: 10px;
  font-weight: 600;
}

.section {
  margin-bottom: 20px;
}

.blog__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.blog__item__tags {
  font-style: italic;
}

.post__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.post__signature {
  margin-top: 20px;
}

.post__tags {
  font-style: italic;
}

.footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bold {
  font-weight: 600;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 20px 0;
  border-radius: 5px;
}

.info {
  max-width: 500px;
}

.highlight {
  color: #d38a8a;
}

.italic {
  font-style: italic;
}