.text-transition {
    transition: color .1s ease-in-out, background-color .1s ease-in-out;
    transition-delay: 0.05s;
}

$primary-accent: #d38a8a;
$primary-text: #eee;
$primary-background: #030303;
$secondary-background: #1d1d1d;